PORT=5000
# MONGO_URI=mongodb://127.0.0.1:27017/otp-db
# Try this first
MONGO_URI=mongodb+srv://karan00chy_db_user:ENndrnraSVNbWZDh@cluster1.bqha01p.mongodb.net/?appName=Cluster1

# If that fails, try this
# MONGO_URI=mongodb://0.0.0.0:27017/node-otp-auth
EMAIL_USER=karan00chy@gmail.com
EMAIL_PASS=dumo fubd rhpi rmsa